:root {
    --pink : 245, 201, 200; /* #f5c9c8 */
}

.navbar-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-between;

    background-image: linear-gradient(to top, rgba(255,0,0,0), #f5c9c8);
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

.icon_size {
    height: 60px; 
    width: 60px;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
}

.nav.wrapper {
    justify-content: space-around;
    flex-grow: 4;
    align-items: center;
}

.nav.social {
    padding-right: 5vw !important;
}

img.social {
    height: 50px;
    margin: 5px;
    transition: ease .25s; 
}

.navbar-filled {
    /* https://www.digitalocean.com/community/tutorials/css-hex-code-colors-alpha-values */
    background-color: rgba(var(--pink), .9) !important;
}